Source: ros-indigo-cob-collision-velocity-filter
Section: misc
Priority: extra
Maintainer: Felipe Garcia Lopez <flg@ipa.fhg.de>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, ros-indigo-catkin, ros-indigo-cob-footprint-observer, ros-indigo-costmap-2d, ros-indigo-dynamic-reconfigure, ros-indigo-geometry-msgs, ros-indigo-nav-msgs, ros-indigo-roscpp, ros-indigo-tf, ros-indigo-visualization-msgs
Homepage: http://ros.org/wiki/cob_collision_velocity_filter
Standards-Version: 3.9.2

Package: ros-indigo-cob-collision-velocity-filter
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, ros-indigo-cob-footprint-observer, ros-indigo-costmap-2d, ros-indigo-dynamic-reconfigure, ros-indigo-geometry-msgs, ros-indigo-nav-msgs, ros-indigo-roscpp, ros-indigo-tf, ros-indigo-visualization-msgs
Description: The cob_collision_velocity_filter package is a package for collision avoidance using teleoperation.
